/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Page Styles Start Here */

.inside {
	border: 5px solid darkcyan;
	margin: 20px 175px;
	background-color: paleturquoise;
	border-radius: 30px;
	position: relative;
}

h1 {
	font-size: 350%;
	font-family: 'Kaushan Script', cursive;
	margin-top: 20px;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 700;
	background-color: rgb(199, 152, 64);
	color: white;
	padding: 20px 0;
	font-size: 120%;
}

form {
	padding: 15px 50px;
	line-height: 2em;
	text-align: center;
}

form p {
	font-weight: 600;
}

#doneButton {
	padding: 10px 50px;
	margin-left: 450px;
	margin-bottom: 30px;
	font-size: 150%;
	border-radius: 40px;
	background-color: rgb(199, 152, 64);
	color: white;
}

section {
	background-color: seagreen;
	padding-bottom: 50px;
	margin-top: 70px;
}

section h3 {
	font-size: 150%;
	padding: 40px;
	color: white;
}

section span {
	padding: 40px;
	color: white;
}